.reqres {
  padding-top: 32px;
}

.reqres__users-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reqres__pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.tht__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "heading"
    "table"
    "requirements";
}

@media screen and (min-width: 768px) {
  .tht__container {
    grid-template-columns: 40% 60%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "heading table"
      "requirements table";
  }
}

@media screen and (min-width: 992px) {
  .tht__container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "heading table"
      "requirements table";
  }
}

.tht__heading {
  grid-area: heading;
}

.tht__requirements {
  grid-area: requirements;
}

.tht__reqres {
  grid-area: table;
}

@media screen and (min-width: 768px) {
  .tht__reqres {
    padding-left: 32px;
  }
}

@media screen and (min-width: 768px) {
  .table .avatar {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 992px) {
  .table .avatar {
    width: 120px;
    height: 120px;
  }
}

.table .avatar img {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .table .avatar img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 992px) {
  .table .avatar img {
    width: 120px;
    height: 120px;
  }
}

.table thead th {
  text-align: center;
}

.table tbody tr:focus,
.table tbody tr:hover {
  cursor: pointer;
}

.table tbody td {
  text-align: center;
  vertical-align: middle;
}

td.table__no-results {
  padding: 16px;
  text-align: center;
}

.btn--go-back {
  padding-left: 0;
}

.user-details__card {
  margin-top: 32px;
}

.user-details__card-inner {
  display: flex;
  flex-direction: row;
  width: 600px;
  margin-bottom: 16px;
  border-radius: px;
  overflow: hidden;
}

.user-details__avatar {
  padding-right: 24px;
}

.user-details__profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-details__name {
  display: flex;
  flex-direction: column;
}